<pre>Este mensaje es generado automáticamente
por un Software de Gestión de Rifas.
Cualquier error favor informar a través de este mismo email.</pre>
------------------------------------------------------------

<h1>Hola <%= @seller.name %>,</h1>

<pre>Para completar tu registro en la rifa de la institución <strong><%= @seller.institution.name %></strong>,
por favor has click en el link a continuación para confirmar tu correo e iniciar sesión:

Recuerda que tus credendiales son:
<strong>   Nombre de Usuario:</strong> <%= @seller.user_name %>
  <strong>   Contraseña:</strong> Los últimos 4 dígitos de tu RUT antes del guión.


<%= confirm_email_seller_url(@seller.confirm_token) %></pre>

<h2>Saludos.</h2>

------------------------------------------------------------
<pre>Si no estás en conocimiento de esta actividad ponte en contacto con
las personas encargadas de la institución.
Si desconoces esta institución, te agradeceríamos nos lo informaras para
enmendar el error.</pre>