<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nivel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.text_admin_level %></td>
        <td><%= button_to 'Mostrar', admin_path(admin.id) , method: :get %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"><%= button_to 'Agregar Administrador', new_admin_path , method: :get %></td>
    </tr>

  </tbody>
</table>

<br>
