<h1>Vendedores: </h1>

<%case @admin_level%>
  <%when 1 .. 2%>
    <%= render 'sellers/super_admin_index' %>
  <%when 3 .. 4%>
    <%= render 'sellers/admin_index' %>
<%end%>


<%= link_to 'New Seller', new_seller_path %>
