<h1>Talonarios:</h1>

<%case @num%>
  <%when 1%>
    <%= render 'books/super_admin_index' %>
  <%when 2%>
    <%= render 'books/admin_index' %>
  <%when 3%>
    <%= render 'books/seller_index' %>
<%end%>

