<h1>Talonarios:</h1>

<% if @admin.admin_level.in? [1,2] %>
    <%= render 'books/super_admin_index' %>
<% elsif @admin.admin_level.in? [2,3] %>
    <%= render 'books/admin_index' %>
<% else %>
    <%= render 'books/seller_index' %>
<%end%>

