
<div class="container">
  <div class="item">
    <h3>Bienvenido a la</h3>
    <h1>Aplicaci칩n Web de Rifas</h1>
    <p>Si est치s inscrito en tu instituci칩n por favor inicia sesi칩n en la esquina superior derecha para vender boletos.</p>
    <button class="btn btn-primary">Find Out More</button>
  </div>
</div>